---
version: '3'

services:
  ubuntu:
    build:
      context: .
    # Use this to keep the container running
    command: tail -f /dev/null
    depends_on:
      - influxdb
    hostname: ubuntu
    volumes:
      - ./files/telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro

  influxdb:
    image: influxdb:1.8.5
    expose:
      - 8086
    tmpfs:
      - /var/lib/influxdb

  grafana:
    image: grafana/grafana:6.7.5
    depends_on:
      - influxdb
    environment:
      GF_SECURITY_ADMIN_USER: grafana
      GF_SECURITY_ADMIN_PASSWORD: grafana
    ports:
      - 127.0.0.1:3000:3000
    tmpfs:
      - /var/lib/grafana
